<div class="col-md-8 offset-md-2">
    <h1 class="headline">{{pageTitle}}</h1>
    <div class="card mb-3" *ngFor="let doc of documents">
        <img [src]="doc.image_url" alt="{{doc.title}}" class="card-img-top" width="100%">
        <div class="card-body">
            <h5 class="card-title">{{doc.title}}</h5>
            <p class="card-text"><small class="text-muted">Last updated at: {{doc.updated_at | date}}</small></p>
            <p class="card-text">{{doc.description}}</p>
            <button class="btn btn-outline-primary" type="button">
                <a href="{{doc.file_url}}" target="_blank">Download</a>
            </button>
        </div>
    </div>
</div>
