<div *ngIf="loading && !errorMsg">
    <app-charging></app-charging>
</div>

<div class="col-md-8 offset-md-2" *ngIf="!loading">
    <div class="list-group">
        <a class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 headline">Proposal List</h5>
            </div>
        </a>
        <span *ngFor="let proposal of proposals">
            <a routerLink="{{proposal.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"> {{proposal.customer}} </h5>
                </div>
                <p class="mb-1"> Estimation - {{ proposal.hourly_rate * proposal.estimated_hours | currency:'&#x20b9;':'symbol':'.2'}} </p>
                <p class="mb-1"> {{proposal.tools}} &nbsp; will be used.</p>
            </a>
        </span>
     </div>
</div>

<div class="col-md-8 offset-md-2">
    <br>
    <ngb-alert [type]="'danger'" [dismissible]="true" (click)="onClose()" *ngIf="!!errorMsg">
        {{errorMsg}} &nbsp; <a routerLink="/home" class="alert-link"> Visit Home </a>
    </ngb-alert>
</div>
