/* .nav-style a{
    color: white;
}

.nav-style a:hover{
    color: #c9c9c9;
}

.nav-link.active{
    color: darkgreen !important;
}

.dropdown-link a{
    color: #1a1b22;
}

.dropdown-link a:hover{
    color: #252830;
} */